# pytest
.pytest_cache/

# local data
.*/
/SOFT/Firefox Installer.exe
/SOFT/Firefox Setup 139.0.4.exe
/SOFT/Git-2.45.1-64-bit.exe
/docs/git-cheat-sheet-education.pdf
/docs/gitlab-recovery-codes.txt
/docs/keepass.kdbx
/SOFT/KeePassXC-2.7.10-Win64-LegacyWindows.msi
/docs/MarkDown.Базовый синтаксис записи и форматирования.pdf
/docs/Markdown_Синтаксис шпаргалка для веб-разработчиков.pdf
/pip.txt
/SOFT/python-3.11.8-amd64.exe
/QA.txt
/SOFT/Thunderbird Setup 139.0.2.exe
/workflow.txt
/diary/Резюме.Нохрин Алексей Валерьевич.doc
/diary/Учебный план.xlsx
